# Задачи при обрабтке данных:
## 1.Создание выборки(обработчика)
## 2.Проверка целостности
## 3.Восстановление данных
## 4.Проверка корректности
## 5.Построение логики обработки

In [52]:
import pandas as pd
import numpy as np

In [2]:
s = 2
a = s + 3
a

5

In [5]:
i = a - 64

In [8]:
a,i

(5, 1)

In [85]:
dict = {"country" : ["Brazil", "Russia", "India", "China", "South Africa"],
        "capital" : ["Brasilia", "Moscow", "New Delhi", "Beiling", "Pretoria"],
        "area" : [8.516, 17.10, 3.268, 9.597, 1.221],
        "population" : [200.4, 143.5, 1252, 1357, 52.38]}

In [12]:
dict

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beiling', 'Pretoria'],
 'area': [8.516, 17.1, 3.268, 9.597, 1.221],
 'population': [200.4, 143.5, 1252, 1357, 52.38]}

In [86]:
brics = pd.DataFrame(dict)

In [16]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.268     1252.00
3         China    Beiling   9.597     1357.00
4  South Africa   Pretoria   1.221       52.38

In [18]:
brics.index = ["BR", "Ru", "IN", "CH", "SA"]

In [19]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
Ru        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.268     1252.00
CH         China    Beiling   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.38

In [20]:
brics["country"]

BR          Brazil
Ru          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [22]:
brics.loc["Ru", "area"]

17.1

In [24]:
frame2 = pd.DataFrame(brics, columns=['country', 'capital'])
frame2

         country    capital
BR        Brazil   Brasilia
Ru        Russia     Moscow
IN         India  New Delhi
CH         China    Beiling
SA  South Africa   Pretoria

In [25]:
brics.to_csv("brics.csv")

In [31]:
brics2=pd.read_csv("brics.csv", index_col = 0) # возврат введенных индексов
brics2

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
Ru        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.268     1252.00
CH         China    Beiling   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.38

In [35]:
type(brics2)

pandas.core.frame.DataFrame

In [33]:
type(brics2['area'])

pandas.core.series.Series

In [34]:
type(brics2[['area']])

pandas.core.frame.DataFrame

In [37]:
brics[["country", "population"]]

         country  population
BR        Brazil      200.40
Ru        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.38

In [38]:
brics[1:4]

   country    capital    area  population
Ru  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.268      1252.0
CH   China    Beiling   9.597      1357.0

In [40]:
brics.iloc[0:1] # вывод строки

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [41]:
brics.loc["Ru", "population"] # население страны

143.5

In [42]:
brics.loc["Ru"] # вывод информации по конкретной стране

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: Ru, dtype: object

In [44]:
brics.loc[:,"area"] # вывод отдельного столбца

BR     8.516
Ru    17.100
IN     3.268
CH     9.597
SA     1.221
Name: area, dtype: float64

In [45]:
# сравнение площадей
brics.loc[["Ru", "CH"], ["popultion", "area"]]

/usr/local/lib64/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

    popultion    area
Ru        NaN  17.100
CH        NaN   9.597

In [48]:
is_huge = brics["area"] > 8
brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
Ru  Russia    Moscow  17.100       143.5
CH   China   Beiling   9.597      1357.0

In [ ]:
brics["area"] == brics.area # синтаксический сахар

In [49]:
is_huge == brics[brics.area > 8]

BR     True
Ru     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [50]:
brics.shape[0] # кол-во строк

5

In [51]:
brics.shape[1] # кол-во столбцов

4

In [53]:
# Применение 2-х условий
N = np.logical_and(brics.area > 8, brics.area < 10)
brics[N]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beiling  9.597      1357.0

In [56]:
brics["length"] = brics["country"].apply(len)
brics

         country    capital    area  population  length
BR        Brazil   Brasilia   8.516      200.40       6
Ru        Russia     Moscow  17.100      143.50       6
IN         India  New Delhi   3.268     1252.00       5
CH         China    Beiling   9.597     1357.00       5
SA  South Africa   Pretoria   1.221       52.38      12

In [58]:
brics.describe()

            area   population     length
count   5.000000     5.000000   5.000000
mean    7.940400   601.056000   6.800000
std     6.203942   645.388933   2.949576
min     1.221000    52.380000   5.000000
25%     3.268000   143.500000   5.000000
50%     8.516000   200.400000   6.000000
75%     9.597000  1252.000000   6.000000
max    17.100000  1357.000000  12.000000

In [87]:
brics.country[brics.population == brics.population.max()]

3    China
Name: country, dtype: object