In [2]:
import pandas as pd
import numpy as np

In [3]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

## Задание 1

In [4]:
my_dict = {"country" : names,
          "drives_right": dr,
          "cars_per_cap": cpc}

In [7]:
my_dict

{'country': ['United States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True],
 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}

In [7]:
cars = pd.DataFrame(my_dict)

In [9]:
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [10]:
cars.index = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

In [11]:
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

## Задание 2

In [16]:
cars = pd.read_csv("Lesson_two/cars.csv", index_col = 0)

In [17]:
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [27]:
cars["country"]# вектор pd Series
cars[["country"]]# массив pd.DataFrame

KeyError: 'country'

In [23]:
# Значнеие ячеек
print(cars.loc["JAP", "cars_per_cap"])
cars.iloc[1,1]

588

False

## Задание 3

In [28]:
cars = pd.read_csv("Lesson_two/cars.csv", index_col = 0)

In [29]:
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [32]:
print(cars["country"])
type(cars["country"])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

pandas.core.series.Series

In [33]:
print(cars[["country"]])
type(cars[["country"]])

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

pandas.core.frame.DataFrame

In [34]:
cars[["country", "drives_right"]]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [39]:
cars[:3]

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588

In [48]:
cars[4:]

     country  drives_right  cars_per_cap
RU    Russia          True           200
MOR  Morocco          True            70
EG     Egypt          True            45

In [50]:
cars.loc["JAP"]

country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object

In [54]:
cars.loc[["AUS","EG"]]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [59]:
cars.loc["MOR", "drives_right"]

True

In [58]:
cars.loc[["MOR", "RU"], ["country", "drives_right"]]

     country  drives_right
MOR  Morocco          True
RU    Russia          True

In [63]:
print(cars["drives_right"])
type(cars["drives_right"])

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

pandas.core.series.Series

In [64]:
print(cars[["drives_right"]])
type(cars[["drives_right"]])

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

pandas.core.frame.DataFrame

In [65]:
print(cars[["drives_right", "cars_per_cap"]])
type(cars[["drives_right", "cars_per_cap"]])

     drives_right  cars_per_cap
US           True           809
AUS         False           731
JAP         False           588
IN          False            18
RU           True           200
MOR          True            70
EG           True            45

pandas.core.frame.DataFrame

## Задание 4

In [66]:
cars = pd.read_csv("Lesson_two/cars.csv", index_col = 0)

In [82]:
cars["drives_right"].name = "dr"
cars["drives_right"]

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: dr, dtype: bool

In [69]:
dr = cars["drives_right"]
type(dr)

pandas.core.series.Series

In [91]:
cars.country[(dr == True)]

US     United States
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [98]:
cpc = cars["cars_per_cap"]
type(cpc)

pandas.core.series.Series

In [153]:
n = np.logical_and(cars.cars_per_cap > 500, cars.drives_right == False)
many_cars = cars[n]

In [154]:
many_cars

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JAP      Japan         False           588

In [159]:
print(many_cars)
type(many_cars)

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JAP      Japan         False           588

pandas.core.frame.DataFrame

In [160]:
N = np.logical_and(cars.cars_per_cap > 100, cars.cars_per_cap < 500)
cars[N]

   country  drives_right  cars_per_cap
RU  Russia          True           200

In [161]:
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [174]:
cars.cars_per_cap[4:5]

RU    200
Name: cars_per_cap, dtype: int64

In [11]:
cars.loc[[cars.index[4]], "country"]

4    Russia
Name: country, dtype: object

In [10]:
cars.loc[[cars.index[4],cars.index[3] ], "country"]

4    Russia
3     India
Name: country, dtype: object

In [13]:
cars.loc[[cars.index[4],cars.index[3]], ["country","cars_per_cap"]]

  country  cars_per_cap
4  Russia           200
3   India            18

In [ ]:
data.loc[data.index[i],"VOLUME"]